DATABASE_URL="postgresql://postgres:postgres@localhost:5432/saas_starter"
NEXTAUTH_SECRET="change-me-to-a-random-32-char-string"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_API_BASE_URL="http://localhost:3000/api"
